@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-orange: #f36900;
    --background-orange: #ffe4d0;
    --gradient-orange: linear-gradient(
        to bottom right,
        #ff8525 0%,
        #ffb074 100%
    );
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* start breadcrumb */
/* Style the list */
section.upper ul.breadcrumb {
    /* padding: 10px 16px 10px 0; */
    margin: 10px 0;
    list-style: none;
}
/* Display list items side by side */
section.upper ul.breadcrumb li {
    display: inline;
    font-size: 0.9em;
}
/* Add a slash symbol (/) before/behind each list item */
section.upper ul.breadcrumb li + li:before {
    padding: 3px;
    color: #888888;
    content: "/\00a0";
}
/* Add a color to all links inside the list */
section.upper ul.breadcrumb li a {
    color: #888888;
    text-decoration: none;
}
/* Add a color on mouse-over */
section.upper ul.breadcrumb li a:hover {
    color: var(--main-orange);
    text-decoration: underline;
}
@media (max-width: 450px) {
    /* Display list items side by side */
    section.upper ul.breadcrumb li {
        font-size: 0.8em;
    }
}
/* end breadcrumb */

body {
    background-color: var(--background-orange);
    margin-top: 100px;
}

#home {
    font-weight: normal;
}
#info-ksn {
    font-weight: bold;
}
/* start of navbar */
nav {
    margin-top: -100px;
    /* add margin-top 100px di body */
    /* pakein padding-top di content pertama, bukan di body (gaguna jangan) */
    position: fixed;
    height: 100px;

    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 5;
}
.navbar.sticky {
    padding: 10px 0;
    height: 60px;
    font-size: 16px;
}
nav .center {
    max-width: 1300px;
    width: 90vw;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .left-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .left-content li {
    list-style-type: none;
}
nav .left-content li a {
    text-decoration: none;
    margin-left: 30px;
    color: var(--main-orange);
}

nav button {
    font-size: inherit;
    padding: 5px 15px;
    border-radius: 50px;
    border-color: var(--main-orange);
    transition: all 0.3s ease 0s;
}
nav #login-btn {
    background-color: transparent;
    color: var(--main-orange);
    border: 2px solid var(--main-orange);
    margin-left: 40px;
}
nav #sign-up-btn {
    background-color: var(--main-orange);
    color: white;
    border: 2px solid var(--main-orange);
}
nav #login-btn:hover,
nav #sign-up-btn:hover {
    cursor: pointer;
    transform: translateY(-7px);
}
nav .logo-navbar {
    width: 90px;
    transition: all 0.3s ease;
}
nav .logo-navbar.shrink {
    width: 70px;
}

nav .menu-list {
    list-style: none;
}
nav .menu-list li {
    display: inline-block;
    margin: 0 10px;
}
nav .menu-list li a {
    text-decoration: none;
    color: var(--main-orange);
}
.navbar .center .icon {
    color: var(--main-orange);
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.navbar .center .icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

/* Dropdown Button */
.profile-btn {
    color: var(--main-orange);
    padding: 6px 10px;
    min-width: 100px;
    font-size: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    transition: all 0.05s ease;
}
.profile-btn .profile-pict {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    /* background-color: blue; */
}
.navbar.sticky .profile-btn .profile-pict {
    width: 30px;
    height: 30px;
}

/* Dropdown button on hover & focus */
.profile-btn:hover,
.profile-btn:focus {
    background-color: #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 23px;
    /* min-width: 125px; */
    min-width: 100px;
    font-size: 18px;
    background-color: white;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 1;
}

.navbar.sticky .dropdown-content {
    margin-top: 9px;
    font-size: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--main-orange);
    padding: 12px 0;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--main-orange);
    color: white;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show-dd {
    display: block;
}
body.disabledScroll {
    overflow: hidden;
}

@media (max-width: 1100px) {
    nav {
        font-size: 16px;
    }
    nav button {
        font-size: 14px;
    }
}

@media (max-width: 868px) {
    .navbar {
        height: 80px;
    }
    .navbar .logo-navbar {
        width: 70px;
    }

    body.disabledScroll {
        overflow: hidden;
    }
    .profile-btn {
        margin: auto;
    }
    .dropdown-content {
        margin-top: 0;
    }
    .navbar .center .icon {
        display: block;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        z-index: 9;
    }
    .navbar .center .icon.cancel-btn {
        display: none;
    }
    .navbar .center .icon.cancel-btn.show {
        display: block;
        padding-top: 5px;
        padding-right: 11px;
    }
    .navbar .center .icon.hide {
        display: none;
    }
    .navbar .center .menu-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 80vh;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* display: block; */
        /* padding: 40px 0; */
        text-align: center;
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
        transition: all 0.3s ease;
        box-shadow: 0 16px 20px 10px rgba(0, 0, 0, 0.25);
    }

    .navbar.sticky .menu-list {
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
    }
    .navbar .menu-list.active {
        clip-path: circle(75%);
    }
    .navbar .menu-list li {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .navbar .menu-list #login-btn,
    .navbar .menu-list #sign-up-btn {
        margin: 15px auto 0 auto;
        width: 200px;
    }
    .navbar .menu-list li a {
        font-size: 18px;
    }
    @media screen and (max-width: 580px) {
        .navbar .center .icon.cancel-btn.show {
            padding-top: 5px;
            padding-right: 0px;
        }
    }
}

/* end of navbar */
/* start of footer */
footer {
    margin-top: 100px;
}

footer .footer-logo {
    display: block;
    margin: 0 auto;
    width: 250px;
}

footer .content {
    display: flex;
    justify-content: center;
    height: 80px;
    border-radius: 20px 20px 0 0;
    background-color: var(--main-orange);
}

footer .center {
    display: flex;
    max-width: 1300px;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
}
footer .center .lombacademy-text {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 300;
}
footer .content .center .socmed {
    display: flex;
    align-items: center;
}
footer .content .center .socmed a {
    margin: 0 5px;
    width: 30px;
}
footer .content .center .socmed img {
    display: block;
    margin: auto;
    width: 30px;
}
footer .copyright {
    display: flex;
    height: 30px;
    background-color: #d66006;
    color: white;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 868px) {
    footer .footer-logo {
        width: 150px;
    }
    footer .content {
        height: 60px;
    }
    footer .center a {
        font-size: 18px;
    }
    footer .content .center .socmed img {
        width: 20px;
    }
    footer .copyright {
        font-size: 12px;
        height: 20px;
    }
    footer .center .lombacademy-text {
        font-size: 18px;
    }
}
/*end of footer*/
